@tailwind utilities;

.blogContent h2 {
    margin-top: 3rem;
    font-family: myriad-pro, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.625;
}

.blogContent p {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.625;
}

.blogContent img {
    margin-bottom: 3rem;
}

.blogContent li::before {
    display: inline-block;
    content: '';
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 1rem;
    margin-left: 2rem;
    @apply bg-gray-600;
    transform: translateY(-2px);
    font-family: myriad-pro, sans-serif;
}

.blogContent ul li {
    @apply text-gray-900;
    font-family: myriad-pro, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.625;
}

.blogContent ul {
    margin-bottom: 2.5rem;
    margin-top: -1.5rem;
}