.headerContainer {
  background-color: theme('colors.white');
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: theme('colors.black');
  font-size: 1.8rem;
  padding: 1rem 0;
  @apply pl-6;
  @apply pr-6;
}

.headerLogo {
  font-size: 1.5rem;

  @media (fromMedium) {
    flex-grow: 1;
    font-size: 2rem;
  }
}

.headerNavigation li {
  margin-bottom: 1rem;
  cursor: pointer;
  @apply pl-6;
  @apply pr-6;
}

.headerNavigation li > div {
  background-color: theme('colors.white');
  padding: 0.5rem 1.5rem 0 0;
  top: 100%;
}

.headerNavigation li > div a {
  display: block;
  margin-top: 0.5rem;
}

.headerNavigationSubMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMenuIcon {
  cursor: pointer;
}
