.btnPrimary {
  background-color: theme('colors.jacarta');
  padding: 1rem 2rem;
  color: theme('colors.white');
  font-weight: 400;
  text-align: center;
}

.btnPrimary:hover {
  background-color: theme('colors.kimberly');
  transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
}

.btnSecondary {
  background-color: theme('colors.kimberly');
  padding: 1rem 2rem;
  color: theme('colors.white');
  font-weight: 400;
  text-align: center;
}

.btnSecondary:hover {
  background-color: theme('colors.jacarta');
  transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
}

.btnSecondaryOutline {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: theme('colors.jacarta');
  padding: 1rem 2rem;
  color: theme('colors.jacarta');
  font-weight: 400;
  text-align: center;
}

.btnSecondaryOutline:hover {
  background-color: theme('colors.jacarta');
  color: theme('colors.white');
  transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
}

.btnTertiary {
  background-color: transparent;
  padding: 1rem 2rem;
  color: theme('colors.jacarta');
  font-weight: 400;
  text-align: center;
}

.btnTertiary:hover {
  background-color: theme('colors.kimberly');
  padding: 1rem 2rem;
  color: theme('colors.white');
  transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
}

.btnLink {
  @apply transition-all;
  @apply duration-700;
  @apply ease-in-out;
  @apply bg-blue-500;
  @apply p-3;
}

.btnLink:hover {
  @apply bg-red-500;
}

.btnSmall {
  @apply p-3;
  @apply text-sm;
}
