@tailwind base;

h1 {
    @apply text-4xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

body {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1;
}

.p-2 {
  font-family: big-caslon-fb, serif;
  letter-spacing: .02em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
  letter-spacing: 0.5px;
}

.hero-block {
  background-color: #aac2da;
}

@tailwind components;
@tailwind utilities;

@responsive {
  .h-screen-80 {
    height: 80vh;
  }
}
