@tailwind base;

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}


body {
  font-family: myriad-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1;
  font-size: 17.6px;
}

p {
  letter-spacing: 1;
}

.p-2 {
  font-family: big-caslon-fb, serif;
  letter-spacing: .02em;
}


h1, h2, h3, h4, h5, h6 {
  font-family: orpheuspro, serif;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
  letter-spacing: 0.025em;
}

.italic-text {
  font-style: italic;
  text-transform: lowercase;
}

.btn__primary {
  background-color: #2E2C73;
  padding: 24px 40px;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: #7271A6;
    transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
  }
}

.btn__secondary {
  background-color: #7271A6;
  padding: 24px 40px;
  color: #fff;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: #2E2C73;
    transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
  }
}

.btn__secondary__outline {
  background-color: transparent;
  border: 2px #2E2C73 solid;
  padding: 22px 38px;
  color: #2E2C73;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: #2E2C73;
    color: #fff;
    transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
  }
}

.btn__tertiary {
  background-color: transparent;
  padding: 24px 40px;
  color: #2E2C73;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: #7271A6;
    padding: 24px 40px;
    color: #fff;
    transition: color .30s ease-in-out,background-color .30s ease-in-out,border-color .30s ease-in-out,box-shadow .30s ease-in-out; 
  }
}

.hero-block {
  background-color: #aac2da;
}

@tailwind components;
@tailwind utilities;

@responsive {
  .h-screen-80 {
    height: 80vh;
  }

  .animate-reveal {
    opacity: 0;
    animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  }

  .delay-0 {
    animation-delay: 0;
  }
  
  .delay-1 {
    animation-delay: 150ms;
  }
  
  .delay-2 {
    animation-delay: 300ms;
  }
  .delay-3 {
    animation-delay: 450ms;
  }
  
  .delay-4 {
    animation-delay: 600ms;
  }
  
  .delay-5 {
    animation-delay: 750ms;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
