/* Helper classes */

.listInline li {
  @apply inline;
}

.chipDark {
  @apply inline;
  @apply text-center;
  @apply text-xs;
  @apply font-semibold;
  @apply tracking-widest;
  @apply uppercase;
  @apply bg-black;
  @apply text-white;
  @apply rounded-full;
  @apply py-2;
  @apply px-4;
}

.overline {
  @apply text-base;
  @apply font-medium;
  @apply tracking-wider;
  @apply uppercase;

  @media (fromLarge) {
    @apply text-lg;
  }
}

.caption {
  @apply text-sm;
  @apply font-medium;
  @apply leading-none;
  @apply text-gray-600;
}

.max-width {
  width: 100%;
  max-width: 486px;
}

.height-648 {
  min-height: 648px;
}