@value mqs: "../../styles/mqs.module.css";
@value fromMedium, fromLarge from mqs;

.headerContainer {
  background-color: theme('colors.white');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: theme('colors.black');
  font-size: 1.8rem;
  padding: .5rem 0;
}

.headerLogo {
  font-size: 1.5rem;
  font-weight: 600;

  @media (fromLarge) {
    flex-grow: 1;
    font-size: 2rem;
  }
}

.headerNavigation {
  composes: listInline from "../../styles/helpers.module.css";
  display: none;

  @media (fromLarge) {
    display: flex;
  }
}

.headerNavigation ol {
  display: flex;
}

.headerNavigation li {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: theme('colors.black');
  letter-spacing: 1;
  cursor: pointer;
}

.headerNavigation li > div {
  position: absolute;
  background-color: theme('colors.white');
  padding: 0.5rem 1.5rem 1rem;
  top: 100%;
}

.headerNavigation li > div a {
  margin-top: 0.5rem;
}

.headerNavigation li:last-of-type {
  margin-right: 0;
}

.headerNavigation li a {
  display: block;
  font-size: 1rem;
  color: theme('colors.black');
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1;
}

.headerNavigationSubMenu {
  display: flex;
  align-items: center;
}

.headerNavigationSubMenu svg {
  margin-left: 0.25rem;
  margin-top: 2px;
}

.headerMenuIcon {
  cursor: pointer;

  @media (fromLarge) {
    display: none;
  }
}
