@value colors: "../../styles/variables.module.css";
@value colorPrimary, colorWhite from colors;

.headerContainer {
  background-color: colorWhite;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colorBlack;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

.headerNavigation {
  composes: listInline from "../../styles/helpers.module.css";
}

.headerNavigation li {
  margin-right: 16px;
}

.headerNavigation li:last-of-type {
  margin-right: 0;
}

.headerNavigation li a {
  font-size: 1rem;
  color: colorBlack;
  text-decoration: none;
}
