@value colors: "../../styles/variables.module.css";
@value mqs: "../../styles/mqs.module.css";
@value colorPrimary, colorBlack, colorWhite from colors;
@value fromMedium from mqs;

.footerContainer {
    background-color: colorBlack;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem 0;
    color: colorWhite;
    
    @media (fromMedium) {
        flex-direction: row;
    }
}

.footerLogoContainer {
    @media (fromMedium) {
        text-align: left;
        align-self: flex-start;
        flex-grow: 1;
    }
}

.footerLogo {
    display: inline-block;
    align-self: center;
    background-color: colorWhite;
    color: colorBlack;
    padding: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.footerNav {
    margin-top: 3rem;

    @media (fromMedium) {
        margin-top: 0;
        margin-right: 6rem;
    }
}

.footerNav li {
    margin-bottom: 0.5rem;
}

.footerNav a:hover {
    text-decoration: underline;
}

.footerMeta {
    margin-top: 3rem;

    @media (fromMedium) {
        margin-top: 0;
        font-size: 0.75rem;
    }
}